// Standard breakpoints (using common values)
$breakpoints-up: (
  'small': 640px,
  'medium': 1150px,
  'large': 1400px,
);

$breakpoints-down: (
  'small': 639px,
  'medium': 1149px,
  'large': 1399px,
);

@mixin breakpoint-up($size) {
  $pixels: map-get($breakpoints-up, $size);
  @media (min-width: rem($pixels)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  $pixels: map-get($breakpoints-down, $size);
  @media (max-width: rem($pixels)) {
    @content;
  }
}